<h1>Admin</h1>

<div class="row">
  <div class="two columns">
    <%= if @current_task === nil do %>
      <button phx-click="start">Start</button>
    <% else %>
      <button phx-click="next">Next</button>
    <% end %>
  </div>

  <div class="five columns">
    <ImpressionnerWeb.AdminLive.Tasks.render sections={@sections} current_task={@current_task} />
  </div>

  <div class="five columns">
    <ImpressionnerWeb.AdminLive.Users.render users={@users} />
  </div>
</div>
