.selected-task {
  color: blue;
}

.task-text {
  white-space: pre-wrap;
}

.task-hint {
  color: grey;
}

.user-ready {
  color: green;
}

.user-not-ready {
  color: red;
}

.delete {
  color: red;
  cursor: pointer;
}

.result {
  margin-top: 20px;
}

.admin-header {
  display: flex;
}

.admin-header > * {
  margin-right: 15px;
}

.container-fixed {
  margin-left: 20px;
  margin-right: 20px;
}

.participant-header {
  display: flex;
  justify-content: space-between;
}

.admin-text {
  color: red;
}

.admin-result {
  color: blue;
}
