<div class="container">
  <div class="preview">
    <%= if @slide do %>
      <img src="<%= @slide %>" class="image"></img>
    <%= else %>
      <div class="no-preview">In the beginning there was darkness</div>
    <% end %>
  </div>

  <div class="controls">
    <div class="controlbuttons">
      <button phx-click="prev_slide" class="button">&#x3C;</button>
      <button phx-click="next_slide" class="button">&#x3E;</button>
    </div>
  </div>
</div>
