<div class="container">
  <h1>Log In</h1>

  <.form for={@form} phx-change="validate" phx-submit="login" phx-target={@myself}>
    <input type="text" name="username" />
    <button>Log In</button>
  </.form>
</div>
