.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
}

.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  max-height: 50%;
  max-width: 100%;
}

.image {
  margin: 0;
  padding: 0;
  max-height: 100%;
  max-width: 100%;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50%;
  width: 100%;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30%;
  width: 100%;
  font-size: 1.5em;
}

.controlButtons {
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 100%;
}

.button {
  font-size: 10em;
  background-color: black;
  color: white;
  shadow: none;
  box-shadow: none;
  border: none;
}

.controlButtons button {
  height: 100%;
  width: 50%;
}

.button:disabled {
  color: #222222;
}
